{{define "title"}}
Monodot
{{end}}

{{define "content"}}

<section class="section hero-section">

    <div class="hero">

        <div class="hero__logo">

            <div class="hero__dot"></div>

            <span>MONODOT</span>

        </div>

        <h1 class="hero__title">
            FROM
            <br>
            PIXELS
            <br>
            TO
            <br>
            DOTS

        </h1>

        <p class="hero__subtitle">
            Transform any image into handcrafted monochrome dot art.
        </p>

        <a href="#upload" class="hero__button">
            START MACHINE
        </a>

    </div>

</section>

<section
        id="upload"
        class="section"
>

</section>

{{end}}