{{define "title"}}
Monodot
{{end}}

{{define "content"}}

<h1>Monodot</h1>
<p>Turn images to beautiful monodot artwork</p>
<form action="/generate" method="POST" enctype="multipart/form-data">
    <div>
        <input type="file" name="image" accept="image/*" required>
    </div>

    <br>

    <div>
        <label>Dot Size</label>
        <input
                type="number"
                name="cellSize"
                value="3"
                min="1"
                max="20"
        >
    </div>

    <br>

    <button type="submit">
        Generate
    </button>
</form>

{{end}}